@import "tailwindcss";

html,
body,
#root{
  min-height: 100dvh;
  width: 100%;
  margin: 0;
  font-family:sans-serif;
}

.menu{
  @apply flex items-center gap-2 cursor-pointer text-white hover:bg-blue-600 p-2 rounded-md  transition-all duration-300 text-xs shrink-0
}

.btn{
  @apply bg-green-600 px-2 py-1 rounded text-white cursor-pointer border-0 transform hover:scale-103;
}

::-webkit-scrollbar {
  display: none;
}

@media print {
  body * {
    visibility: hidden !important;
  }

  #payment-receipt, 
  #payment-receipt *,
  #dashboard, 
  #dashboard * {
    visibility: visible !important;
  }

  #dashboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: visible !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  tr {
    page-break-inside: avoid;
  }
  
  /* Set page margins */
  @page {
    margin: 1cm;
  }
}
